{:format :kotoba.provenance/v1, :kotoba-component-sha "d931faca17cfaca782f54417680204e4ca698b6e", :builder :kotoba-compiler/v1, :note "T8.3 ADR 0226 multi-export reject package + headers-names-add true-set", :language :kotoba.language/safe-v1, :compiler "kotoba-compiler/1", :outputs {:primary {:format :wasm-component, :sha256 "0befd905a103d11a630c194dbf5251e2b41db745ed53f2eba6265d35cc1e3ded", :size 6631}}, :sha256 "0befd905a103d11a630c194dbf5251e2b41db745ed53f2eba6265d35cc1e3ded", :target :wasm-component-kotoba-v1}