{:budgets {:fuel 512, :memory-pages 16}, :format :kotoba.component-admission-request/v1, :ambient-wasi false, :imports #{}, :component-cid "bafkreihnrvvb6oo4vhijbix6zogjcj3w2l5t5ybrbglhzha3bwolec2ygm", :exports #{"headers_edn_append"}, :wasi-version "0.3.0", :composer-supplied-keys #{:provider-bindings :grants}, :definition-cids #{"bafkreiaz5tdij5uevnlny5wv4jx4qkmryduunbx3od6dwd5uzycicblapa"}, :identity-inputs-missing #{:package-lock-cid}, :target :wasm-component-kotoba-v1, :profile :sync}