{:budgets {:fuel 512, :memory-pages 16}, :format :kotoba.component-admission-request/v1, :ambient-wasi false, :imports #{}, :component-cid "bafkreihb3zmmoyym3fcnbcbpxtavoaucfddqqfmrxlvexwv722zpmjzh5u", :exports #{"headers_edn_empty" "http_result_ok_edn" "http_request_edn" "http_result_err_edn" "headers_names_add" "headers_edn_append"}, :wasi-version "0.3.0", :composer-supplied-keys #{:provider-bindings :grants}, :definition-cids #{"bafkreihbgpscjxm5ottbdee46hvpyq6eqddd4ovuoowwl7ib65k3jktxde"}, :identity-inputs-missing #{:package-lock-cid}, :target :wasm-component-kotoba-v1, :profile :sync}