{:format :kotoba.provenance/v1, :builder :kotoba-compiler/v1, :compiler "kotoba-compiler/1", :language :kotoba.language/safe-v1, :target :wasm-component-kotoba-v1, :source-sha256 "ba3f2bfd7b007b9bf4b17cefa94bb81ecebf8fa2af3696627d0c74f9697fc2b6", :sha256 "c249a6239a1598eefd503ae0fbdc29cb93fdfcfc62f063ce2435385e73161be1", :outputs {:primary {:format :wasm-component, :sha256 "c249a6239a1598eefd503ae0fbdc29cb93fdfcfc62f063ce2435385e73161be1", :size 1921}}, :note "T8.3 ADR 0219 http-request-edn0 reject-path Component (:http-request-edn0)"}
