{:budgets {:fuel 512, :memory-pages 16}, :format :kotoba.component-admission-request/v1, :ambient-wasi false, :imports #{}, :component-cid "bafkreideohj5454fis3phkazbf7r45yucrrmgl244pqg65ypymflkcop5a", :exports #{"edn_quoted"}, :wasi-version "0.3.0", :composer-supplied-keys #{:provider-bindings :grants}, :definition-cids #{"bafkreicxmkgebmkjeblxkv2bw7s3ptgwmn76m7gh6j5ga5dhx6ll4ygnxq"}, :identity-inputs-missing #{:package-lock-cid}, :target :wasm-component-kotoba-v1, :profile :sync}