{:format :kotoba.provenance/v1, :kotoba-component-sha "dfba9407b0eedafcc2abed25f556f162a0c08966", :builder :kotoba-compiler/v1, :note "T8.3 ADR 0225 headers-names-add Component twin true-set name list", :language :kotoba.language/safe-v1, :compiler "kotoba-compiler/1", :outputs {:primary {:format :wasm-component, :sha256 "939b4bfdff19bd17290a8a6b6e4d123baf727a9306c45625af50756e167c24fd", :size 2224}}, :sha256 "939b4bfdff19bd17290a8a6b6e4d123baf727a9306c45625af50756e167c24fd", :target :wasm-component-kotoba-v1}