{:budgets {:fuel 512, :memory-pages 16}, :format :kotoba.component-admission-request/v1, :ambient-wasi false, :imports #{}, :exports #{"http_request_edn0"}, :wasi-version "0.3.0", :composer-supplied-keys #{:provider-bindings :grants}, :identity-inputs-missing #{:package-lock-cid}, :target :wasm-component-kotoba-v1, :profile :sync}
