{:budgets {:fuel 512, :memory-pages 16}, :format :kotoba.component-admission-request/v1, :ambient-wasi false, :imports #{}, :component-cid "bafkreibb66qze4dol54xayi6zfgweqqi67l4ahql5jou7tzn5uwzdfbwi4", :exports #{"headers_edn_empty" "http_request_edn" "headers_edn_append"}, :wasi-version "0.3.0", :composer-supplied-keys #{:provider-bindings :grants}, :definition-cids #{"bafkreihlza4ywnxq6tmvkivlatpdl6ykfsom3rresgkvf3pdaogcrq5z74"}, :identity-inputs-missing #{:package-lock-cid}, :target :wasm-component-kotoba-v1, :profile :sync}