{:budgets {:fuel 512, :memory-pages 16}, :format :kotoba.component-admission-request/v1, :ambient-wasi false, :imports #{}, :component-cid "bafkreihs5iqdpzv4eci7ttyrrhff2xbqjywo2fdsltdlj5oyo35j3kbh7a", :exports #{"headers_edn_empty" "http_header_edn_trust" "http_result_err_edn_trust" "http_request_edn_trust" "headers_edn_one" "http_result_ok_edn_trust"}, :wasi-version "0.3.0", :composer-supplied-keys #{:provider-bindings :grants}, :definition-cids #{"bafkreifgvg5crqqb25qkoyllfbt3sddfetrmsq62menypfwyz3jwn34s5y"}, :identity-inputs-missing #{:package-lock-cid}, :target :wasm-component-kotoba-v1, :profile :sync}