{:budgets {:fuel 512, :memory-pages 16}, :format :kotoba.component-admission-request/v1, :ambient-wasi false, :imports #{}, :component-cid "bafkreigdq33mwyerfblcp33sh3kwvneoiqrn23w4karpfmeag5cl6snzyu", :exports #{"http_header_edn"}, :wasi-version "0.3.0", :composer-supplied-keys #{:provider-bindings :grants}, :definition-cids #{"bafkreiez3sdq56rcrhnvpcp34dxlg42qgsdm6qx4weg64jw4nl54w5b7xa"}, :identity-inputs-missing #{:package-lock-cid}, :target :wasm-component-kotoba-v1, :profile :sync}