{:format :kotoba.provenance/v1, :kotoba-component-sha "7e017bbc0224313672922215820b32adcd96d20e", :builder :kotoba-compiler/v1, :note "T8.3 ADR 0227 headers-edn-append map-element-bound name uniqueness", :language :kotoba.language/safe-v1, :compiler "kotoba-compiler/1", :outputs {:primary {:format :wasm-component, :sha256 "ed8d6a1f39dca9d090a2fecb8c912776d2fb3ee03109967c9c1b0d9cb20b5833", :size 2380}}, :sha256 "ed8d6a1f39dca9d090a2fecb8c912776d2fb3ee03109967c9c1b0d9cb20b5833", :target :wasm-component-kotoba-v1}
