{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        io.github.kotoba-lang/kotoba-kir
        {:git/url "https://github.com/kotoba-lang/kotoba-kir.git"
         :git/sha "767f2f2fcb6c2c8f9288b24bef24caedb0486333"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}
                               io.github.kotoba-lang/org-ietf-ed25519
                               {:git/url "https://github.com/kotoba-lang/org-ietf-ed25519.git"
                                :git/sha "c1ba8322a33b668da1311ca69a8cdde3c7981b52"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
